.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 5px black;
}

i {
  font-size: 30px;
  margin: 20px;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 5px grey;
}

i:hover {
  text-shadow: 1px 1px 5px rgb(191, 189, 189);
}

.copyright {
  margin-bottom: 30px;
}
