.App {
  text-align: center;
  background-image: url("https://i.imgur.com/HoFIya2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background-color: rgb(178, 205, 176); */
  font-family: Arial, Helvetica, sans-serif;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
