.info {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 8px 1px grey;
  border-radius: 5px;
  width: 75%;
  margin: 20px;
  padding: 15px;
}

#profile-pic {
  float: left;
  margin: 0 20px 20px 20px;
  box-shadow: 1px 1px 8px 1px grey;
  border-radius: 5px;
}

#about {
  margin: 12px 12px 12px 25px;
  display: flex;
  text-align: left;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  margin: 15px;
  box-shadow: 1px 1px 8px 1px grey;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.8);
}

.container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
}

.site-images {
  width: 300px;
  height: auto;
  float: left;
  text-align: left;
  margin: 0 20px 20px 20px;
  box-shadow: 1px 1px 8px 1px grey;
  border-radius: 5px;
}

a.site-link {
  background-color: rgb(56, 117, 208);
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  width: 175px;
}

h5 {
  font-weight: bold;
}

article {
  font-size: 16px;
  margin: 12px;
  text-align: left;
}

.tech {
  margin: 12px;
}

@media screen and (max-width: 800px) {
  #profile-pic {
    float: none;
    text-align: center;
  }
}
