/* BACKGROUND BOXES */
.info {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 1px 1px 8px 1px grey;
  border-radius: 5px;
  max-width: 1050px;
  margin: 20px;
  padding: 15px;
}

/* MY PROFILE PICTURE */
#profile-pic {
  float: left;
  margin: 0 20px 20px 20px;
  box-shadow: 1px 1px 8px 1px grey;
  border-radius: 5px;
}

/* ABOUT SECTION */
#about {
  margin: 12px 12px 12px 25px;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}

/* TITLES FOR EACH SECTION */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

/* CARDS FOR EACH APP I MADE */
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 550px;
  margin: 15px;
  box-shadow: 1px 1px 8px 1px grey;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.55);
}

/* PROJECTS CONTAINER */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px;
}

/* IMAGES FOR EACH WEBSITE */
.site-images {
  width: 375px;
  height: auto;
  display: flex;
  justify-content: left;
  flex-direction: column;
  float: left;
  margin: 0 20px 20px 20px;
  box-shadow: 1px 1px 8px 1px grey;
  border-radius: 5px;
}

/* BUTTON FOR EACH WEBSITE LINK */
a.site-link {
  background-color: rgb(56, 117, 208);
  /* background-color: rgb(143, 143, 143); */
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  width: 125px;
  margin: 0 20px 0 20px;
}

a.site-link:hover {
  box-shadow: 1px 1px 8px 1px grey;
}

/* TITLE OF EACH WEBSITE */
h5 {
  font-weight: bold;
}

/* DESCRIPTION OF EACH WEBSITE */
article {
  font-size: 16px;
  margin: 12px;
  float: right;
}

/* TECHNOLOGY SECTION */
.tech {
  margin: 12px;
}

#contact {
  max-width: 1050px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 800px) {
  #profile-pic {
    float: none;
    text-align: center;
  }
  #about {
    text-align: center;
  }
  .site-images {
    width: 250px;
  }
  .info {
    width: 90%;
  }
  .card {
    margin: 15px 0 15px 0;
  }
}
